{% extends 'base.html' %}

{% block content %}
<h1>{{ person.username }}의 프로필 페이지</h1>
<hr>

<h3>{{ person.username }}이 작성한 리뷰</h3>
{% for review in person.user_reviews.all %}
  <p>리뷰 번호 : {{ review.pk }}</p>
  <p>리뷰 제목 : {{ review.title }}</p>
{% endfor %}

<hr>

<h3>{{ person.username }}이 작성한 댓글</h3>
{% for comment in person.comment_set.all %}
{% comment %} {% for comment in user.comment_set.all %} {% endcomment %}
{% comment %} 얘도 가능 {% endcomment %}
  <p>댓글 달린 리뷰 : {{ comment.review }}</p>
  <p>댓글 내용 : {{ comment.content }}</p>
{% endfor %}


<hr>

<h3>{{ person.username }}이 좋아하는 영화</h3>
{% for article in person.like_articles.all %}
  <p>{{ article.pk }}</p>
  <p>{{ article.content }}</p>
{% endfor %}
<a href="{% url 'community:index' %}">BACK</a>
{% endblock content %}